article {
    border-radius: 5px;
    background: rgb(158, 199, 197);
    width: 400px;
    opacity: 0.7;
    margin-top: 35px;
    margin-left: 25px;
}

article:hover {
    background: lightseagreen;
    opacity: 1;
}

article header {
    display: flex;
    border-bottom: 1px solid #d6cccc38;
    background: #eee;
    justify-content: space-between;
  }

article footer {
    display: flex;
    align-items: center;
    padding-top: 5px;
    justify-content: space-between;
    padding-bottom: 6.6px;
    font-size: 12px;
    border-top: 1px solid #ded3d326;
    width: 400px;
    background: #eee;
    padding-left: 10px;
}

article ul {
    list-style: none;
    padding-left: 10px;
  }


article footer::after {
    content: "";
    clear: both;
    display: table;
  }

article header img {
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
}

article header p {
    padding-right: 10px;
    padding-top: 8px;
}

article div {
    display:flex;
}

article footer div {
    opacity: 0;
    padding-left: 160px;
}

article footer div i {
    padding-left:5px;
}

article:hover footer div{
    opacity: 0.6;
}